<div id="wrapper">
    <h1>Note Scraper</h1>
    <h2><i>Please feel free to click an article and leave a comment</i></h2>
    <div>
    <div id="articles">
        {{#each article}}
            <p>{{title}}</p>
            <p>{{img}}</p>
            <p>{{link}}</p>
        {{/each}}
    </div>
    <div id="notes"></div>
</div>

